.itemlistcontainer{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.itemlistcontainer .itemlist{
    display: flex;
    flex-wrap: wrap;    
    
}

.itemlistcontainer .item{
    width: 20%;
    margin: 3% 6%;
    padding: 2%;
    border: 2px solid #FF7F6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.item{
    text-decoration: none;
}

.item .img-item{
    width: 100%;
    border-radius: 1%;
    background-color: #4A4A4A;
}

.item .text-item{
    padding: 1% 0;
    color: #4A4A4A;
    
    
}